body {
  margin: 0;
  overflow: hidden;
  background-color: #111;
  font-family: sans-serif;
}

canvas {
  display: block;
}

#info {
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
  color: white;
  pointer-events: none;
  z-index: 100;
}
